[submodule "UniFox/vendor/spdlog"]
	path = UniFox/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "UniFox/vendor/glfw"]
	path = UniFox/vendor/glfw
	url = https://github.com/glfw/glfw
